#tabWrapper {
  width: 400px;
  margin: 40px;
  font-family: arial;
}
#tabWrapper > label {
  display: block;
  border-bottom: 2px solid #404040;
  padding: 16px;
  background-color: #303030;
  color: #B8B8B8;
  -webkit-transition: padding .5s;
  transition: padding .5s;
}
#tabWrapper > .selected {
  border-bottom: 2px solid #FFFF00;
  padding: 16px 30px;
  background-color: #FFE303;
  color: black;
  font-weight: bold;
}
#tabWrapper > .hovering {
  border-bottom: 2px solid #FFE303;
  background-color: #FFFF00;
  padding: 16px 30px;
  color: #2E2E2E;
}
input[type=radio] {
  display: none;
}
