#tabWrapper {
  width: 400px;
  margin: 40px;
  font-family: arial;
}
#tabWrapper > label {
  display: block;
  border-bottom: 2px solid #404040;
  padding: 16px;
  background-color: #303030;
  color: #B8B8B8;
  -webkit-transition: padding .5s;
  transition: padding .5s;
}
/*
#tabWrapper > label:hover {
  border-bottom: 2px solid #B8B8B8;
  padding: 16px 30px;
  background-color: #BBFFFF;
  color: black;
}*/
#tabWrapper > .selected {
  border-bottom: 2px solid #00CDCD;
  padding: 16px 30px;
  background-color: #00FFFF;
  color: black;
  font-weight: bold;
}
#tabWrapper > .hovering {
  border-bottom: 2px solid #FFFFFF;
  background-color: #BFEFFF;
  padding: 16px 30px;
  color: #2F4F4F;
}
input[type=radio] {
  display: none;
}
